<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<title>Select object</title>
</head>
<body>
	<div ng-app="myApp" ng-controller="myC">
		<p>Select your car.</p>
		<select ng-model="selectedCar">
			<option ng-repeat="x in cars" value="{{ x.model }}">{{ x.model }}</option>
		</select>
		<h1>You selected car is:  {{ selectedCar }}</h1>
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('myC', function($scope) {
    	$scope.cars = [
        {model : "Ford Mustang", color : "red"},
        {model : "Fiat 500", color : "white"},
        {model : "Volvo XC90", color : "black"}
    	];
		});
	</script>
</body>
</html>